  .contents input.textfield {
    width: 480px;
    height: 36px;
    margin-right: 20px;
    font-size: 1.4em;
    vertical-align: top;
  }

  .contents input.checkbox {
    width: 20px;
    height: 20px;
  }

 .checked {
    text-decoration: line-through;
  }

  .contents button {
    height: 36px;
    font-size: 1.1em;
    vertical-align: top;
    border: solid 1px #999;
    border-radius: 2px;
  }

  .contents .delete-icon {
    diplay: inline-block;
    cursor: pointer;
  }
  .delete-button {
    background: none;
    border: none;
  }